<!DOCTYPE html>
<html 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/defaultLayout}">
<section layout:fragment="content" class="contents d-flex justify-content-center align-items-center vh-100">
        <div class="login-box p-5 rounded shadow" style="width: 100%; max-width: 400px; background-color: #f8f9fa;">
            <h1 class="text-center mb-4 font-weight-bold">로그인</h1>

            <!-- Login Form -->
            <form id="loginForm" action="/user/sign-in" method="post">
                
                <!-- ID Field -->
                <div class="form-group">
                    <label for="loginId" class="font-weight-bold">ID</label>
                    <input type="text" class="form-control" id="loginId" name="loginId" placeholder="아이디를 입력하세요">
                </div>

                <!-- Password Field -->
                <div class="form-group">
                    <label for="password" class="font-weight-bold">PW</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="비밀번호를 입력하세요">
                </div>

                <!-- Login Button -->
                <button type="submit" id="loginBtn" class="btn btn-primary btn-block mt-3">로그인</button>

                <!-- Sign Up Link -->
                <a class="btn btn-dark btn-block d-flex align-items-center justify-content-center mt-2" href="/user/sign-up-view">회원가입</a>
            </form>
	</div>
</section>
<th:block layout:fragment="script">
    <script>
    	$(document).ready(function(){
  			// 로그인 서브밋 
  			$("#loginForm").on('submit', function(e){
  				e.preventDefault(); // submit 중단
  				//alert("로그인");
  			
  			// validation
  			let loginId = $("#loginId").val().trim();
  			let password = $("#password").val().trim();
  			
  			if(!loginId) {
  				alert("아이디를 입력해주세요");
  				return false;
  			}
  			if(!password) {
  				alert("비밀번호를 입력해주세요");
  				return false;
  			}
  			let url = $(this).attr("action");
  			//console.log(url);
  			let params = $(this).serialize(); // name 속성 필수 
  			//console.log(params)	
  	
  			// ajax 
  			$.post(url, params) // request
  			.done(function(data){ // response - collback 
  				if(data.result == "성공"){
  					// 로그인이 성공하면 글 목록 화면으로 이동
  					location.href="/timeline"
  				} else {
  					alert(data.error_message);
  				}	
  			});
  			});		
    	}); 
    </script>
</th:block>