<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<th:block th:fragment="headerFragment">
    <header class="bg-secondary">
        <div class="container-fluid h-100 d-flex justify-content-between align-items-center px-3">
            <!-- Logo -->
            <div class="logo">
                <h1 class="text-primary mb-0">SNS</h1>
            </div>
            <!-- User Greeting and Login -->
            <div class="user-info text-right">
                <span>님 안녕하세요</span>
                <a href="#" class="login-link ml-2">로그인</a>
            </div>
        </div>    
    </header>
</th:block>
</html>