<!DOCTYPE html>
<html
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/defaultLayout}">
<section layout:fragment="content" class="contents d-flex justify-content-center">
    <div class="contents-box">
        <!-- 글쓰기 영역 -->
        <div class="write-box border rounded m-3">
            <textarea id="writeTextArea" placeholder="내용을 입력해주세요" class="w-100 border-0"></textarea>
            
            <div class="d-flex justify-content-between align-items-center mt-2">
                <div class="file-upload d-flex align-items-center">
                    <input type="file" id="file" accept=".jpg, .png, .gif" class="d-none">
                    <a href="#" id="fileUploadBtn">
                        <img width="35" src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-image-512.png" alt="파일 업로드">
                    </a>
                    <div id="fileName" class="ml-2"></div>
                </div>
                <button id="writeBtn" class="btn btn-primary">게시</button>
            </div>
        </div>
        
        <!-- 타임라인 영역 -->
        <div class="timeline-box my-5">
            <!-- 글 카드 반복 -->
            <div class="card border rounded mt-3">
                <div class="p-2 d-flex justify-content-between align-items-center">
                    <span class="font-weight-bold">글쓴이</span>
                    <a href="#" class="more-btn">
                        <img src="https://www.iconninja.com/files/860/824/939/more-icon.png" width="30" alt="더보기">
                    </a>
                </div>
                
                <div class="card-img">
                    <img src="https://cdn.pixabay.com/photo/2020/06/20/11/09/cat-5320572_1280.jpg" class="w-100" alt="본문 이미지">
                </div>
                
                <div class="card-like m-3">
                    <a href="#" class="like-btn">
                        <img src="https://www.iconninja.com/files/214/518/441/heart-icon.png" width="18" height="18" alt="좋아요">
                    </a>
                    <span>좋아요 13개</span>
                </div>
                
                <div class="card-post m-3">
                    <span class="font-weight-bold">글쓴이</span>
                    <span>글 내용입니다!!!!</span>
                </div>
                
                <div class="card-comment-title border-bottom">
                    <div class="font-weight-bold ml-3 mb-1">댓글</div>
                </div>
                
                <div class="card-comment-list m-2">
                    <!-- 댓글들 -->
                    <div class="card-comment m-1">
                        <span class="font-weight-bold">댓글쓰니</span>
                        <span>댓글 내용임</span>
                        <a href="#" class="comment-del-btn">
                            <img src="https://www.iconninja.com/files/603/22/506/x-icon.png" width="10" height="10" alt="댓글 삭제">
                        </a>
                    </div>
                    
                    <!-- 댓글 쓰기 -->
                    <div class="comment-write d-flex border-top mt-2">
                        <input type="text" class="comment-input form-control border-0 mr-2" placeholder="댓글 달기">
                        <button type="button" class="comment-btn btn btn-primary">게시</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<th:block layout:fragment="script">
    <script>

    </script>
</th:block>